/**
 * Foods page partial contains all Manage Food Items page styles.
 */

/* Add category input. */
.add-category-input {
  @extend .app-input; // inherits from app-input
  margin-bottom: 50px;
    
  .form-control {
    height: 42px;
  }
}

/* Foods panel. */
.foods-panel {
	@extend .panel-app; // inherits from panel-app
  width: 300px;
  margin-bottom: 50px;
  
  .panel-body {
    height: 332px;
  }

  .list-group {
    // custom height. It displays 5 food items
    @include calc(height, '42px * 5');
    overflow-y: auto;

    li {
      cursor: pointer;
    }
  }
}

.foods-panel-menu {
  padding-bottom: 15px;
  border-bottom: 2px groove $app-border;
}

.add-food-input {
  margin: 15px 0px 0px 0px;

  .form-control {
    height: 42px;
  }
}