.foods-panel {
	width: 250px;

	.list-group {
		/* food item * 8 */
		@include calc(height, '42px * 5');
		overflow-y: scroll; 
	}
}

.foods-panel-menu {
	padding-bottom: 15px;
}

.add-food-input {
	display: none;
}