#step-1 .btn-next {
    margin-right: 150px;
}

#step-2 .btn-next {
    margin-right: 58px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    font-size: 16px;
    //font-weight: bold;
    position: relative;
}

.step-app {
    font-size: 16px;
    padding: 10px 15px;
    //font-weight: bold;
}

#meal-plan-preview-modal {
    @extend .app-modal;

    .modal-dialog {
        //margin: auto;
        @include calc(width, '100vw - 100px');
    }

    .modal-content {
        //@include center-obj();
        //margin: 50px;
    }

    #btn-delete-preview {
        margin-bottom: 15px;
    }

    .recipe-list {
        /* recipes * 5 */
        @include calc(height, '42px * 5');
        overflow-y: auto;

        li {
            cursor: pointer;
        }
    }
}

.dropdown-add-to {

    .btn-add-to:focus {
        opacity: 1;
        background-color: darken($navbar-background, 10%);
    }

    .dropdown-menu {
        background-color: white;
        
        color: white;

        button {
            opacity: 1;
            width: 100%;

            &:hover {
                background-color: darken($navbar-background, 5%);
                color: $navbar-font-hover;
            }
        }
    }

    //background-color: darken($navbar-background, 5%);
}

/* step-3 content */
.generate-well {
    @extend .app-well;
    padding-top: 0;

    .app-well-menu {
        padding-top: 15px;
    }

    h3 {
        font-family: 'Oleo Script', cursive;
        font-weight: bold;
    }
}

#btn-search-again {
    margin: 50px 42px 0px 0px;
}