// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.bgimage {

	background-image: url('veggies.jpg');
	background-position: center center;
	background-size: cover;
	height: 300px;
}