// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main-header {
  background-image: url('main_image.png');
  background-position: center center;
  background-size: cover;
  
  width: 100vw;
  /* browser height - navbar height */
  @include calc(min-height, '100vh - 50px');
}

.main-content-container {
  padding: 50px 50px 0 50px;
}