/**
 * Main page partial contains all Main page styles.
 */

/* Main page header. */
#main-header {
  background-image: url('main_image.png');
  background-size: cover;
  background-position: center center;
  // Custom min-height. Browser height - navbar height
  @include calc(min-height, '100vh - 50px');

  .container {
    width: 100%;
    position: absolute;
    top: 40%;

    h1 {
      font-family: 'Oleo Script', cursive;
      font-size: 5rem;
      font-weight: bold;
      color: white;
    }

    .scroll-link {
      margin-top: 100px;
    }
  }
}

/* Main content will be always centered. */
#main-content-container {
  margin: 0 auto;
  position: relative;
}

.main-thumbnail {
  width: 378px; // custom width
  margin: 50px 20px;
  border: none;
  vertical-align: middle;
  display: inline-block;
  text-align: left;  
  @include box-shadow(0px 2px 11px 2px $app-border);

  h3 {
    font-family: 'Oleo Script', cursive;
    font-size: 2em;
    font-weight: bold;
  }

  a {
    font-size: 1.2em;
  }
}

/* Thumbnail image box. */
.img-box {
  position: relative;
  background-color: $app-purple-modal-background;
  opacity: 1;
  
  /* Image box transition. */
  .main-thumbnail-img {
    @include transition(all 0.3s ease-in-out 0s);
  }

  /* Change opacity and show main buttons. */
  &:hover {
    .main-thumbnail-img {
      opacity: 0.1;
    }

    .btn-main-container .btn-main {
      display: block;
    }
  }
}

/* Center main buttons. */
.btn-main-container {
  @include center-obj();

  .btn-main {
    margin-bottom: 20px;
    display: none;
  }  
}