.recipe-well {
	margin: 0 auto;
	@extend .well-app;
	width: 1084px;
	max-height: 629px;
}

.recipe-well-menu {
	padding-bottom: 15px;
  border-bottom: 2px groove rgba(209,209,209,0.49);

  .app-input {
  	display: inline-block;
  }
}

.detail-view {
	position:relative;
	height: 335px;
}

#new-recipe-modal {
	@extend .app-modal;

	.modal-content {
		width: 1039px;
		height: 544px;
	}

	.recipe-box {
		margin-top: 15px;
		height: 458px;
	}
}

#upload-modal {
	@extend .app-modal;
}