/**
 * Manage recipes partial contains all Manage recipes page styles.
 */

/* Recipe well. */
.recipe-well {
	@extend .app-well;
	width: 1084px; // custom width
	max-height: 667px; // custom max-height to fit all elements
	margin: 0 auto;

	.app-well-menu .app-input {
		display: inline-block;
	}
}

/* Recipe expanded detail view. */
.detail-view {
	height: 335px; // custom height to fit recipe content
	position: relative;
}

/* New recipe form modal. */
#new-recipe-modal {
	@extend .app-modal;

	.modal-dialog {
  	width: 1153px; // custom modal width
  	height: 555px; // custom modal height
  }

	.recipe-box {
		height: 458px; // custom recipe height
	}

	textarea {
		border: $app-textarea-border 1px solid;
		pointer-events: auto;
	}
}

/* Upload modal. */
#upload-modal {
	@extend .app-modal;
}

/* Search by title/tag toggle. */
.search-toggle {
	.active {                
		display: none;		
	}
}

/* Application's open file. */
.openfile-app {
	padding-bottom: 15px;

	.btn-file {
		position: relative;
		overflow: hidden;
	}

	.form-control {
		height: 40px;
		@include abbreviate-text();
		pointer-events: none;
		background-color: white !important;
	}

	.btn-file input[type=file] {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		font-size: 100px;
		text-align: right;
		cursor: inherit;
		background: red;
		filter: alpha(opacity=0);
		opacity: 0;
	}
}