.recipe-well {
	margin: 0 auto;
	@extend .well-app;
	width: 1084px;
	max-height: 629px;
}

.recipe-well-menu {
	padding-bottom: 15px;
  border-bottom: 2px groove rgba(209,209,209,0.49);

  .app-input {
  	display: inline-block;
  }
}

.detail-view {
	position:relative;
	height: 335px;
}

#new-recipe-modal {
	@extend .app-modal;

	.modal-dialog {
    //margin: auto;
    width: 1153px;
    height: 555px;
   }

	.modal-content {
		//margin: 50px;
		//width: 1053px;
		//height: 555px;
		//@include center-obj();
	}

	.recipe-box {
		margin-top: 15px;
		height: 458px;
	}

	textarea {
		border:#C1E0FF 1px solid;
		pointer-events:auto;
	}
}

#upload-modal {
	@extend .app-modal;
}

.search-toggle {
	//width: 120px;
	.active {                
		display: none;		
	}
}

.openfile-app {
	padding: 15px 0px;

	.btn-file {
		position: relative;
		overflow: hidden;
	}

	.form-control {
		height: 40px;
	}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		background: red;
		cursor: inherit;
		display: block;
	}

	input[readonly] {
		background-color: white !important;
		cursor: text !important;
	}
}