.list-arrows {
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
}

.have-avoid-list {
	margin-top: 15px;
}

.food-well {
	@extend .well-app;
	width: 900px;
}

.have-avoid-menu {
	padding-bottom: 15px;
  border-bottom: 2px groove rgba(209,209,209,0.49);
}

.food-table-container {

  overflow-y: auto;
  margin-top: 15px;

	.table {

		thead tr {
			background-color: $panel-heading-background;
			opacity: 0.9;
			color: white;
			font-size: 16px;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			th {
				padding: 10px 15px;
				height: 44px;
			}
		}

		tbody {
			border-collapse: separate;
    	
	    	tr {
	    		display: none;
	    	}
		}
	}
}

.food-item {
  cursor: pointer;
  @include abbreviate-text();
}

#btn-cancel-search {
	margin-right: 15px;
}