.list-arrows {
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
}

.have-avoid-list {
	margin-top: 15px;
}

.have-avoid-well {
	margin: 0 auto;
	@extend .well-app;
	width: 900px;
	max-height: 394px;
}

.have-avoid-menu {
	padding-bottom: 15px;
  border-bottom: 2px groove rgba(209,209,209,0.49);
}

.food-table-container {
  overflow-y: auto;
  max-height: 292px;
  margin-top: 15px;

	.table {

		thead tr {
			background-color: $panel-heading-background;
			opacity: 0.9;
			color: white;
			font-size: 16px;
			cursor: pointer;
			height: 43px;

			&:hover {
				opacity: 1;
			}

			th {
				padding: 10px 15px;
				font-size: 16px;
			}
		}

		tbody {
			border-collapse: separate;
    	
	    	tr {
	    		display: none;
	    	}
		}
	}
}

.food-item {
  cursor: pointer;
  @include abbreviate-text();
}

#btn-cancel-search {
	margin-right: 8px;
}

.have-avoid-panel-container {
	margin: 0 auto;
	position: relative;

	.list-left {
		display: inline-block;
  		vertical-align: middle;
	}

	.list-right {
		display: inline-block;
  		vertical-align: middle;
	}

	.foods-panel {
		text-align: left;
	}

	.list-arrows {
		display: inline-block;
  		vertical-align: middle;
		margin: 0px 40px 40px 40px;
	}
}

.search-new-container {
	//margin-top: 50px;
}