/**
 * Search new page partial contains all Search new page styles.
 */

/* Have-avoid list. */
.have-avoid-list {
	margin-top: 15px;
}

.have-avoid-well {
  @extend .app-well;
  width: 900px; // custom width
  max-height: 394px; // custom max-height
	margin: 0 auto;
}

.food-item {
  cursor: pointer;
}

#btn-cancel-search {
	margin-right: 8px;
}

.have-avoid-panel-container {
	margin: 0 auto;
	position: relative;

	.list-left, .list-right {
    vertical-align: middle;
		display: inline-block;
	}

	.foods-panel {
		text-align: left;
	}

	.list-arrows {
    margin: 0px 40px 40px 40px;
    vertical-align: middle;
		display: inline-block;
	}
}

.search-new-container {
	margin: 50px 134px 0px 0px;
}

/* Loading modal. */
#loading-modal {
  @extend .app-modal;
  cursor: wait;

  .modal-dialog {
    @include center-obj();
  }

  .modal-header {
    padding: 0;
    border: none;
  }

  /* Loading progress bar. */
  .progress {
    margin: 0;

    .progress-bar {
      border: none;
      @include border-radius(0 !important);
      background-color: $app-cyan-background;
      opacity: 0.5;
    }
  }
}

/* Search again button. */
#btn-search-again {
  margin: 50px 42px 0px 0px;
}