<%= javascript_include_tag 'recipe_table.js' %>
<%= javascript_include_tag 'recipe_results.js' %>
<script type="text/javascript">
  $(document).ready(function () {

    /* Logic for moving onto the next step. */
    $('#btn-find-food-next').click(function() {
      renderGenerateMealPlan();
      
    });

    /* Add selected recipes to the specified section of the meal plan */
    $('button.option').click(function() {
      // Get meal name and option. eg. breakfast option 2.
      var option = this.id.split("-")[1];
      // Get the ids of recipes currently included.
      var current_ids = [];
      $('ul#recipe-id-list li').each(function() {
        current_ids.push($(this).text());
      });

      // Get selected recipe name.
      var selected_id = [];
      var selected_recipe_names = [];
      // gather the ids and names of all checked recipes
      $('.check-rec:checked').each(function() {
        var recipe_id = $(this).closest('tr').find('#recipe_id').val();
        var recipe_name = $(this).closest('tr').find('td').find('label').text();
        selected_recipe_names.push(recipe_name);
        selected_id.push(recipe_id);
        $(this).prop('checked', false);
        $(this).closest(".app-table-tr").css({"opacity": "0.9"});
      });

      // Add selcted recipes to desired meal
      $(selected_recipe_names).each(function(index, value) {
        $('<li>').text(value).addClass("food-item list-group-item").appendTo(".modal-body #" + option);
        // Add id to the list if the recipe is unique.
        if ($.inArray(selected_id[index], current_ids) == -1) {
          $('<li>').text(selected_id[index]).appendTo('#recipe-id-list');
        }
        
      }); 

    });

    /* Highlight food item when clicked. */
    $('div.modal-body .food-item').unbind('click').click(function() {
      $(this).toggleClass('highlight-item');
      var numChked = $('div.modal-body .highlight-item').size();
      if(numChked) {
        $('#btn-delete-preview').removeClass("disabled");
      } else if (numChked == 0) {
        $('#btn-delete-preview').addClass("disabled");
      }
    });
  });
</script>

<div class="well recipe-well">
  <div class="app-well-menu">
    <div class="btn-group dropdown-add-to">
      <button type="button" class="btn btn-app btn-add-to" data-toggle="dropdown">Breakfast 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app option" id="btn-brkOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-brkOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-brkOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group dropdown-add-to">
      <button type="button" class="btn btn-app btn-add-to" data-toggle="dropdown">Snack 1 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk1Op1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk1Op2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk1Op3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group dropdown-add-to">
      <button type="button" class="btn btn-app btn-add-to" data-toggle="dropdown">Lunch 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app option" id="btn-lnhOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-lnhOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-lnhOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group dropdown-add-to">
      <button type="button" class="btn btn-app btn-add-to" data-toggle="dropdown">Snack 2 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk2Op1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk2Op2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-snk2Op3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group dropdown-add-to">
      <button type="button" class="btn btn-app btn-add-to" data-toggle="dropdown">Dinner 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app option" id="btn-dnrOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-dnrOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app option" id="btn-dnrOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <button type="button" class="btn btn-app pull-right" data-toggle="modal" data-target="#meal-plan-preview-modal">Preview Meal Plan <span class="glyphicon glyphicon-list-alt"></span></button>
  </div>
  <div class="app-well-container">
    <%= render partial: "recipes/recipe_table", locals: {recipe_list: @recipe_list} %>
  </div>
</div>
<%= leap_button 'Next', {class: 'btn-app btn-next pull-right', id: 'btn-find-food-next'} %>
