<script type="text/javascript">
  $(document).ready(function () {
    $('#find-food-next').click(function() {
      renderGenerateMealPlan();
    });
  });
</script>

<div class="well recipe-well">
  <div class="app-well-menu">
    <div class="btn-group">
      <button type="button" class="btn btn-app" data-toggle="dropdown">Breakfast 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-brkOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-brkOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-brkOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-app" data-toggle="dropdown">Snack 1 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk1Op1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk1Op2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk1Op2">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-app" data-toggle="dropdown">Lunch 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-lnhOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-lnhOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-lnhOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-app" data-toggle="dropdown">Snack 2 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk2Op1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk2Op2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-snk2Op3">Option 3</a>
        </li>
      </ul>                
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-app" data-toggle="dropdown">Dinner 
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-dnrOp1">Option 1</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-dnrOp2">Option 2</a>
        </li>
        <li>
          <button type="button" class="btn btn-app add-to" id="btn-dnrOp3">Option 3</a>
        </li>
      </ul>                
    </div>
    <button type="button" class="btn btn-app pull-right" data-toggle="modal" data-target="#meal-plan-preview-modal">Preview Meal Plan <span class="glyphicon glyphicon-list-alt"></span></button>
  </div>
  <%= render partial: "recipes/recipe_table", locals: {recipe_list: @recipe_list} %>  
</div>
<button class="btn btn-app btn-next pull-right" id="find-food-next" type="button">Next</button>