<%= javascript_include_tag 'search_new.js' %>
<script type="text/javascript">
  $(document).ready(function () {
    $('#select-food-next').click(function() {
      renderFindRecipes();
    });
  });
</script>

<div class="col-xs-12">
  <div class="col-md-12">
    <%= render partial: "recipes/search_new" %>
    <%= leap_button 'Next', {class: 'btn-app nextBtn pull-right', id: 'select-food-next', type: 'button'} %>
  </div>
</div>