<h1>Recipes In Database</h1>

<% @recipeList.each do |recipe| %>

	<h2><%= recipe.title %></h2>
	<strong>Ingredients:</strong>
	<div><%= recipe.ingredients %></div>

	</br>
	
	<strong>Directions:</strong>
	<div><%= recipe.directions %></div>
	
<% end %>