<%= add_form_element 'recipe', 'id', { type: 'hidden' }, { value: recipe.try(:id) } %>
<div class="form-group">
  <label for="title">Recipe Title</label>
  <textarea class="form-control" id="title" required><%= recipe.title %></textarea>
</div>
<div class="form-group">
  <label for="ingredients">Recipe Ingredients:</label>
  <textarea class="form-control"  id="ingredients" required><%= recipe.ingredients %></textarea>
</div>
<div class="form-group">
  <label for="directions">Recipe Directions:</label>
  <textarea class="form-control"  id="directions" required><%= recipe.directions %></textarea >
</div>