<div class="container">
	<%= add_form_element 'recipe', 'title',
		{ type: 'text'},
	  { value: @recipe.try(:title) } %>

	  <%= add_form_element 'recipe', 'ingredients',
	  { type: 'textarea'},
	  { value: @recipe.try(:ingredients) } %>

	  <%= add_form_element 'recipe', 'directions',
	  { type: 'textarea'},
	  { value: @recipe.try(:directions) } %>
</div>
