<script>
	$( function() {
		$('btn-save-recipe').click(function() {
			var title = $.find('.rec-title').val();
			var ingredients = $.find('.rec-ingredients').val();
			var directions = $.find('.rec-directions').val();
			var tags = $.find('.rec-tags').val();
			var json = JSON.stringify({title: title, directions: directions, ingredients: ingredients});
			console.log(ingredients);
			console.log(title);
			console.log(directions);
			console.log(json);
			$.ajax({
          		url: "/recipes/save_recipe_json",
          		method: "POST",
          		data: {recipe: json},
          		timeout: 5500,
          		success: function() {
          		  console.log("success");
          		  location.reload();

          		},
          		error: function(jqXHR, textStatus, errorThrown) {
          		  console.log("an error has occured");
          		  console.log(textStatus);
          		  console.log(errorThrown);
          		}
          	});
		});
	});
</script>


	<div id="new-recipe-modal" class="modal fade" role="dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a class="pull-right btn close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"/></a>
			</div>
			<div class="recipe-box">
				<h1 for="title">Title</h1>
				<p contenteditable="true" name="recipe[title]" class="rec-title" required>Enter title heeya.</p>
				<h1 for="ingredients">Ingredients</h1>
				<p contenteditable="true" name="recipe[ingredients]" class="rec-ingredients" required>Enter ingredients heeya.</p>
				<h1 for="directions">Directions</h1>
				<p contenteditable="true" name="recipe[directions]" class="rec-directions" required>Enter directions heeya.</p>
				<h1 for="tag_id">Tags</h1>
				<p contenteditable="true" name="recipe[tags]" class="rec-tags" required>Enter tags heeya.</p>
				<a class="btn btn-app btn-save-recipe" >Save<span class="glyphicon glyphicon-save"/></a>
			</div>
		</div>
	</div>