
	<div id="new-recipe-modal" class="modal fade" role="dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a class="pull-right btn close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"/></a>
			</div>
			<div class="recipe-box">
				<h1 for="title">Title</h1>
				<p contenteditable="true" name="recipe[title]" class="rec-title" required>Enter title heeya.</p>
				<h1 for="ingredients">Ingredients</h1>
				<p contenteditable="true" name="recipe[ingredients]" class="rec-ingredients" required>Enter ingredients heeya.</p>
				<h1 for="directions">Directions</h1>
				<p contenteditable="true" name="recipe[directions]" class="rec-directions" required>Enter directions heeya.</p>
				<h1 for="tag_id">Tags</h1>
				<p contenteditable="true" name="recipe[tags]" class="rec-tags" required>Enter tags heeya.</p>
				<a class="btn btn-app btn-save-recipe" >Save<span class="glyphicon glyphicon-save"/></a>
			</div>
		</div>
	</div>