<div id="new-recipe-modal" class="modal fade" role="dialog">
	<div class="modal-content">
		<div class="modal-header">
			<a class="pull-right btn close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"/></a>
			<h3 class="modal-title">Quickly Add a New Recipe</h3>
		</div>
		<div class="recipe-box">
			<h1 for="title">Title</h1>
			<p contenteditable="true" name="recipe[title]" class="rec-title" required></p>
			<h1 for="ingredients">Ingredients</h1>
			<p contenteditable="true" name="recipe[ingredients]" class="rec-ingredients" required></p>
			<h1 for="directions">Directions</h1>
			<p contenteditable="true" name="recipe[directions]" class="rec-directions" required></p>
			<h1 for="tag_id">Tags</h1>
			<p contenteditable="true" name="recipe[tags]" class="rec-tags" required></p>
			<%= leap_button 'Save', {class: 'btn-save-recipe'}, 'glyphicon-save'%>
		</div>
	</div>
</div>