<%= javascript_include_tag 'recipe_results.js' %>
<%= javascript_include_tag 'recipe_table.js' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Index</th>
      <th>Select</th>
      <th>Name</th>
    </tr>
  </thead>
  <%= recipe_list(@recipe_list,
                 {label: 'Save', class: 'save-recipe', path: nil},
                 {label: 'Remove', class: 'remove-recipe'},
                  ) %>
</table>