<%= javascript_include_tag "upload_modal.js" %>
<div id="upload-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="btn close" data-dismiss="modal" type="button"><span class="glyphicon glyphicon-remove"/></button>
				<h3 class="modal-title">Upload Recipes From File</h3>
			</div>
      <div class="modal-body">
        <%= form_tag 'display_upload', method: 'post', multipart: true do %>
          <div class="input-group openfile-app">
            <span class="input-group-btn">
              <span class="btn btn-app btn-file">
                Browse&hellip;
                <%= file_field 'recipe', 'file' %>
              </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
          <button class="btn btn-app" type="submit">Upload</button>
        <% end %>
      </div>
		</div>
	</div>
</div>