
<script type="text/javascript">
	$(document).ready(function() {

    // Logic for saving a single recipe.
		$(".saveRecipe").click(function() {
			var div = $(this).closest(".recipeData");
			var title = div.find("#recipe_title").val();
			var ingredients = div.find("#recipe_ingredients").val();
			var directions = div.find("#recipe_directions").val();
			var recipeJSON = '{"title":"' + title + '", "ingredients":"' + ingredients +
						 	 			 '", "directions":"' + directions + '"}';
			$.ajax({
        url: "/recipes/save_recipe_json",
       	method: "POST",
      	data: {recipe: recipeJSON},
        timeout: 5500,
        success: function() {
          console.log("success");
          div.hide();
          div.html("Saved Successfully!");
          div.fadeIn("slow");
          div.fadeOut("slow");
				},
      	error: function(jqXHR, textStatus, errorThrown) {
        	console.log("an error has occured");
        	console.log(textStatus);
        	console.log(errorThrown);
        }
			});
		});

    // Remove a singlular recipe
		$(".removeRecipe").click(function() {
			$(this).closest(".recipeData").fadeOut();
		});

    // Save all the recipes.
		$("#saveAll").click(function() {
			// create JSON to hold all recipe information
			var recipeList = '';
			$.ajax({
        url: "/recipes/save_recipe_list",
        method: "POST",
      	dataType: "json",
        data: {recipeList: recipeList},
      	timeout: 5500,
       	success: function(data) {
        	console.log("success");
      	},
      	error: function(error) {
        	console.log("an error has occured\n" + error);
        	console.log(error);
      	},
      	complete: function() {
				}
			});
		});

	});
</script>

<%= page_title 'Display the document information.' %>

<button>Save All</button>
<% @recipe_list.each do |recipe| %>
  <div class="recipeData" style="margin-left: 3em;">
    <%= add_form_element 'recipe', 'title',
    { type: 'text'}, { value: recipe.try(:title) } %>

    <%= add_form_element 'recipe', 'ingredients',
    { type: 'textarea'}, { value: recipe.try(:ingredients) } %>

    <%= add_form_element 'recipe', 'directions',
    { type: 'textarea'}, { value: recipe.try(:directions) } %>
    <button class="saveRecipe">Save</button>
    <button class="removeRecipe">Remove</button>
  </div>
	
<% end %>