<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="container">
	<h1>Recipes List</h1>


		<div class="well">
		  <h3>Recipes List</h3>
		  <p>this portion of page contains all of our recipes stored in the database.</p>
			<a href="#" class="btn btn-success"  data-toggle="modal" data-target="#myRecipeModal">Quick Add</a>
		</div>
<%= will_paginate @recipeList %>

<div class="container">
	<% @recipeList.each do |recipe| %>
	<%= render :partial => "common/box.html.erb", :object => recipe, :as => "recipe" %>
	  
	  
	<% end %>
</div>
 


		<% if @recipeList.empty? %>
	    	<div class="alert alert-info">No recipes in the database.</div>
	  	<% end %>
		<%= render 'new_recipe_form' %>

</div>
