<div class="page-container container">
  <%= render partial: "search_new" %>
  <div class="container">     
        <button class="btn btn-primary pull-right" type="button" id="btnSearch" style="margin: 10px">Search New Recipe <span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-default pull-right" type="button" id="btnCancel" style="margin: 10px">Cancel</button>
  </div> 
</div>