<script>
$(function () {
	$('#btn-search-recipe').click(function() {

		var foodsToHaveList = $('.have-list').find('.food-item');
		var foodsToAvoidList = $('.avoid-list').find('.food-item');

		var avoidList = [];
		var haveList = [];

		foodsToAvoidList.each(function() {
			avoidList.push($(this).text());
		});

		foodsToHaveList.each(function() {
			haveList.push($(this).text());
		});

		$.ajax({
        type: "POST",
        url: "/recipes/search_online",
       	timeout: 0,
        data: {foods_to_include: haveList,
        	   foods_to_exclude: avoidList},
       	success: function() {
       		window.location.replace("/recipes/display_online_results")
       	}

      });

	});
});
</script>
<div class="page-container container">
  <%= render partial: "search_new" %>
  <div class="search-new-container" style="margin: 50px 85px 0px 0px;"> 
        <a class="btn btn-app pull-right" id="btn-search-recipe">Search <span class="glyphicon glyphicon-search"></span></a>
        <a class="btn btn-app pull-right" id="btn-cancel-search">Cancel</a>
  </div> 
</div>