<%= javascript_include_tag 'search_new.js' %>
<h3 class="page-title">Search New Recipes From The Web</h3>
<div class="page-container container">
  <%= render partial: "search_new" %>
  <div class="search-new-container">
    <%= leap_button 'Search ', {class: 'btn-app disabled pull-right', id: 'btn-search-recipe', type: 'button', data_toggle: 'modal', data_target: '#loading-modal'}, 'glyphicon-search' %>
    <%= leap_button 'Cancel', {class: 'btn-app pull-right', id: 'btn-cancel-search'} %>
  </div> 
</div>
<div>
  <div id="loading-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Searching For Recipes...</h3>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>