<script type="text/javascript">
  $(function () {

            $('body').on('click', '.list-group .list-group-item', function () {
                $(this).toggleClass('active');
            });
            $('.list-arrows button').click(function () {
                var $button = $(this), actives = '';
                if ($button.hasClass('move-left')) {
                    actives = $('.list-right ul li.active');
                    actives.clone().appendTo('.list-left ul');
                    actives.remove();
                } else if ($button.hasClass('move-right')) {
                    actives = $('.list-left ul li.active');
                    actives.clone().appendTo('.list-right ul');
                    actives.remove();
                }
            });
            $('.dual-list .selector').click(function () {
                var $checkBox = $(this);
                if (!$checkBox.hasClass('selected')) {
                    $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                    $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                } else {
                    $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                    $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                }
            });
        });
</script>

<script> 
// This controls the food selection table
$(document).ready(function () {

  // Show all items of a category.
  $(".expand").click(function() {
    var myExpand = this.id;
    
    var myExpandId = this.id.split("_");
    var myDetailsClass = '.'+myExpandId[0]+"_items";
    // Show that recipe detail of that index.     
    //alert(myDetailsClass);
    $(myDetailsClass).toggle('slow');
    // Change gliphicon arrow up and down.
    var id='#'+myExpand;
    if($(id).hasClass("glyphicon-chevron-down")){       
      $(id).addClass("glyphicon-chevron-up");
      $(id).removeClass("glyphicon-chevron-down");
    }else{
      $(id).addClass("glyphicon-chevron-down");
      $(id).removeClass("glyphicon-chevron-up");
    }
  });
  // Enable buttons when check boxes are checked.
  $('.checkItems').bind('change', function(){ 
    var numChked = $('.checkItems:checked').size();

    if(numChked) {       
      $('#btnToAvoid').removeClass("disabled");
      $('#btnToHave').removeClass("disabled");
    } else if(numChked==0) {
      $('#btnToAvoid').addClass("disabled");
      $('#btnToHave').addClass("disabled");
    }
  });

  // TO-DO: handles btnToHave and btnToAvoid.


});
</script>

<div class="page-container container">
  <div class="row">
    <div class="dual-list list-left col-md-3 col-md-offset-2">
      <div>
        <div class="have-avoid-panel panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">To Have</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="have-avoid-arrows list-arrows col-md-1 text-center">
      <button class="btn btn-default btn-sm move-left">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btn-default btn-sm move-right">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
    <div class="dual-list list-right col-md-3">
      <div>
        <div class="have-avoid-panel panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">To Avoid</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
              <li class="list-group-item">Broccoli</li>
              <li class="list-group-item">Cauliflower</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Now here goes the table -->

  <div class="panel panel-success">
      <div class="panel-heading">Select Food Items to add or to avoid</div>
      <div class="panel-body">
        <table class="table table-hover">          
          <thead>            
            <tr>
              <th style="width: 30%;"><button class="btn btn-primary disabled" type="button" id="btnToHave"> FOOD TO HAVE <span class="glyphicon glyphicon-plus"></button>
              <button class="btn btn-warning disabled" type="button" id="btnToAvoid"> FOOD TO AVOID <span class="glyphicon glyphicon-minus"></button></th>
              <th></th>
            </tr>
            <% @category_list.each do |cat| %>
            <tr>
              <th><span class="glyphicon glyphicon-chevron-down expand" id="<%= cat.name %>_expand"/></th>
              <th><%= cat.name %></th>
            </tr>            
          </thead>
          <tbody>
            <% cat.food_items.each do |foodItem| %>         
            <tr class="<%= cat.name %>_items" style="display: none;" >
              <td><span><input type="checkbox" class="checkItems" id=""/></td>
              <td><%= foodItem.name %></td>
            </tr>            
          </tbody>
          <% end %>
          <% end %>
        </table>
      </div>
  </div>
</div>