<div class="container">
  <div class="row">
    <div class="dual-list list-left col-md-3 col-md-offset-2">
      <div>
        <div class="have-avoid-panel panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">To Have</h3>
      </div>
      <div class="panel-body">
        <table id="have-avoid-table" class="table table-hover">
          <tr>
          <td>
          <div class="checkbox">
          <label>
          <input type="checkbox">Yeah
          </label>
          <a href="#">
          <span class="glyphicon glyphicon-remove pull-right"></span>
          </a>
          </div>
          </td>
          </tr>
        </table>
      </div>
      </div>
      </div>
      </div>
      <div class="list-arrows col-md-1 text-center">
            <button class="btn btn-default btn-sm move-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button class="btn btn-default btn-sm move-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
      <div class="dual-list list-right col-md-3">
        <div>
        <div class="have-avoid-panel panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title">To Avoid</h3>
        </div>
        <div class="panel-body">
          <table class="have-avoid-table table table-hover">
            <tr>
            <td>
            <div class="checkbox">
            <label>
            <input type="checkbox">Yeah
            </label>
            <a href="#">
            <span class="glyphicon glyphicon-remove pull-right"></span>
            </a>
            </div>
            </td>
            </tr>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>