<%= javascript_include_tag 'search_new.js' %>
<div class="page-container container">
  <%= render partial: "search_new" %>
  <div class="search-new-container" style="margin: 50px 85px 0px 0px;"> 
    <%= leap_button 'Search', 'glyphicon-search', 'pull-right', 'btn-search-recipes' %>
    <%= leap_button 'Cancel', '', 'pull-right', 'btn-cancel-search' %>
  </div> 
</div>