<%= javascript_include_tag 'search_new.js' %>
<div class="page-container container">
  <%= render partial: "search_new" %>
  <div class="search-new-container" style="margin: 50px 85px 0px 0px;"> 
    <%= leap_button 'Search', {class: 'btn-app pull-right', id: 'btn-search-recipe'}, 'glyphicon-search' %>
    <%= leap_button 'Cancel', {class: 'btn-app pull-right', id: 'btn-cancel-search'} %>
  </div> 
</div>