// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,600);

html {
  font-family: Raleway, sans-serif;
}

#main-content {
	padding-top: 50px;
}

a:hover {
	text-decoration: none;
}
