// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html{
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	top: 0;
	height: 100%;
	background: #c2cfb2;
}

#navigation {
	width: 100%;
}