/**
 * Mixin partial used for browser compability.
 */

/**
 * Calculates $expression and assigns it to $property.
 */
@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -ms-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

/**
 * Border radius.
 */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

/**
 * Transition.
 */
@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	transition: $transition;
}

/**
 * Box shadow.
 */
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

/**
 * Abbreviates text of an element.
 */
@mixin abbreviate-text() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * Centers an element.
 */
@mixin center-obj() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}