// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$app-content-background: #EFECE6;
$btn-background: #9E1754;
$navbar-background: #009c7b;
$navbar-font-hover: #e0e0e0;
$panel-heading-background: #6B4258;
$list-selected: #E7EA25;