<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="food_item delete">
  <h2>Delete Food Item</h2>

  <%= form_for(:food_item, :url => {:action => 'destroy', :id => @foodItem.id}) do |f| %>

  <p>Are you sure you want to permanently delete this item?</p>

  <p class="reference-name"><%= @foodItem.name %></p>

  <div class="form-buttons">
    <%= button_to("Delete Food Item", {:controller => :foodItem, :action => :destroy, :id => @foodItem.id}, :method => :delete) %>

  </div>

  <% end %>

  </div>
