<% content_for :head do %>
  <%= javascript_include_tag "/javascripts/search.js" %>
<% end %>

<h1>Welcome to LEAP</h1>
<h2>Here is a short demo of the search/crawling/scraping</h2>
<label for="search">Search for a recipe</label>
<input id="search" type="text"></input>
<button id="searchButton" onclick="searchRecipe()">Search</button>

<div id="recipe"></div>