#box {  
  font-family: Raleway, sans-serif;
  color: #809848;
  letter-spacing: 0.12em;
  display: inline-block;
  position: relative;
  margin: 2em;
  background: white;
  width: 15em;
  height: 15em;
  padding: 2em;
  box-shadow: 0 0 5rem rgba(black, 0.1);

  h2 {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7em;
    padding-bottom: 0.5em;
  }

  p {
    display: block;
    position: absolute;
    bottom: 2em;
  }  
}



