// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	@include border-radius(0 !important);
	text-transform: uppercase;
	border: none;
}

/* main page button */
.btn-main {
	background: none;
	font-size: 1.2em;
	padding: 10px;
	color: white;
	@include transition(all 0.1s ease-in-out 0s);
	font-weight: bold;
	border: 3px solid white;

	&:hover {
		opacity: 0.8;
	}

	&:visited {
		color: white;
	}
}

/* default-button */
.btn-app {
	background-color: $navbar-background;
	opacity: 0.5;
	@include transition(all 0.1s ease-in-out 0s);
	color:white;
	padding: 10px;

	&:hover {
		opacity: 1;
		color: white;
	}

	&:visited {
		color: white;
	}
}

/* add foods button */
.btn-plus-add {
	@extend .btn-app;
	padding: 6px 12px 6px 12px;
}
