// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
/* main page button */
.btn {
	@include border-radius(0 !important);
	text-transform: uppercase;
	letter-spacing: 0.2em;

	&:focus {
		outline: 0 !important;
	}
}

.btn-main {
	
	@extend .btn;

	background: none;
	font-size: 1.2em;
	min-width: 161px;
	height: 49px;
	padding: 10px;
	color: white;
	@include transition(all 0.1s ease-in-out 0s);
	font-weight: bold;
	border: 3px solid white;

	&:hover {
		color: white;
		opacity: 0.8;
	}

	&:focus {
		color: white;
	}
}

/* default-button */
.btn-app {
	@extend .btn;
	border: none;

	background-color: $navbar-background;
	opacity: 0.5;
	@include transition(all 0.1s ease-in-out 0s);
	color: white;
	padding: 10px;

	&:hover {
		opacity: 1;
		color: white;
	}

	&:focus {
		color: white;
	}
}

.disabled {
	background-color: $btn-background;
	pointer-events: none;
}

/* panel delete category button */
.btn-delete-cat {
  border: none;
  padding: 6px 9px 3px 12px;
  background-color: transparent;
  @include transition(all 0.1s ease-in-out 0s);
  color: white;

  &:hover {
    //background-color: darken($panel-heading-background, 10%);
    color: $navbar-font-hover;
  }

  &:focus {
		color: white;
	}
}

.btn-add-cat {
	padding: 12px 7px 10px 10px;
	position: absolute;
	width: 36px;
	height: 42px;
}

.btn-edit-recipe, .btn-save-updated, .btn-save-recipe{
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
}

.check-app {
	margin: 0;
}

.btn-plus-food {
    padding: 10px 7px 10px 10px;
    cursor: pointer; 
  }

.btn-next {
  margin-top: 50px;
}