#foods-panel {
   
   width: 230px;
}

#foods-menu {
    height: 38px;
    border-bottom: 1px solid #ddd;

    a {
        padding-right: 15px;
    }
} 

#foods-table {
    width: 190px;
    /* 36 x 5 (number of foods) */
    height: 180px;

    td {
        border: none !important;
        cursor: pointer;
        width: 190px;
    }

    tbody {
        display: block;
        width: 190px;
        /* 56 x 4 (number of foods) */
        height: 224px;
        overflow: auto;
    }
}