/**
 * Checkboxes partial contains the application's custom checkbox style.
 */

.app-checkbox > [type="checkbox"]:not(:checked),
.app-checkbox > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.app-checkbox > [type="checkbox"]:not(:checked) + label,
.app-checkbox > [type="checkbox"]:checked + label {
  margin: 0;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.app-checkbox > [type="checkbox"]:not(:checked) + label:before,
.app-checkbox > [type="checkbox"]:checked + label:before {
  width: 19px; 
  height: 19px;
  margin-top:-9px;
  border: 2px solid white; // checkbox border
  @include border-radius(0 !important);
  position: absolute;
  top: 50%;
  left:0;
  content: '';
  background: transparent;
}

.app-checkbox > [type="checkbox"]:not(:checked) + label:after,
.app-checkbox > [type="checkbox"]:checked + label:after {
  margin-top:-7px;
  position: absolute;
  top: 50%;
  left: 2px;
  font: normal normal normal 12px/1 'Glyphicons Halflings';
  content: '\e013';
  xtransition: all .2s;
}

.app-checkbox > [type="checkbox"]:not(:checked) + label:after {
  transform: scale(0);
  opacity: 0;
}

.app-checkbox > [type="checkbox"]:checked + label:after {
  transform: scale(1);
  opacity: 1;
}

.app-checkbox > [type="checkbox"]:not(:checked) + label:after, .app-checkbox > [type="checkbox"]:checked + label:after {
  top: 55%;
  left: 3px;
  color: white; // check mark color
}