.navbar-inverse {
  font-weight: bold;
  letter-spacing: 0.2em;
  background-color: $navbar-background;
  border: none;
  margin-bottom: 0;
  

  .navbar-brand {
    color: white;
    font-weight: bold;

    &:hover, focus {
      color: $navbar-font-hover;
    }
  }
}

.dropdown-menu{
  @include border-radius(0);
  background-color: rgba($navbar-background, 0.9);
  border: none;
  min-width: 130px;
  right: auto;
  padding: 0;

  > li {

    > a {
      color: white;
      font-weight: bold;
      padding: 12px;

      &:hover {
        color: $navbar-font-hover;
        background-color: darken($navbar-background, 10%);
      }
    }
  }
}

.dropdown-toggle {
  color: white;
}

.navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;

    &:hover {
      color: $navbar-font-hover;
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $navbar-font-hover;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  padding: 12px;

  &:hover {
    color: $navbar-font-hover;
    background-color: darken($navbar-background, 5%);
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: darken($navbar-background, 10%);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: darken($navbar-background, 10%);
}