/**
 * Navigation partial contains the application's navbar styles.
 */

.navbar-inverse {
  height: 50px;
  margin-bottom: 0;
  border: none;
  background-color: $app-cyan-background;
  
  // navbar's upperleft-hand logo
  .navbar-brand {
    font-family: 'Oleo Script', cursive;
    font-size: 1.7em;
    font-weight: bold;
    color: white;

    &:hover, focus {
      color: $navbar-font-hover;
    }
  }
}

/* Navbar's dropdown menu. */
.dropdown-menu {
  min-width: 130px;
  padding: 0;
  text-transform: uppercase;
  border: none;
  @include border-radius(0);
  right: auto;
  background-color: rgba($app-cyan-background, 0.9);
  
  > li {
    > a {
      padding: 12px;
      color: white;

      &:hover {
        color: $navbar-font-hover;
        background-color: darken($app-cyan-background, 10%);
      }
    }
  }
}

.dropdown-toggle {
  text-transform: uppercase;
  color: white;
  @include transition(all 0.1s ease-in-out 0s);
}

.navbar-toggle {
  border: none;
  @include border-radius(0 !important);
}

.navbar-inverse .navbar-nav > li > a {
  color: white;

  &:hover {
    color: $navbar-font-hover;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $navbar-font-hover;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  padding: 12px;
  color: white;

  &:hover {
    color: $navbar-font-hover;
    background-color: darken($app-cyan-background, 5%);
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: darken($app-cyan-background, 10%);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: darken($app-cyan-background, 10%);
}