.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 670px;
  overflow-y: auto;
  width: 100%;
}


.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {

  border-bottom-width: 0;
}

td.col-xs-10 {
	&:hover {
		background-color: darken(white, 10%);
	}

	a {
		&:hover {
			
		}
	}
}

#recipe_table {
	float: left;
	width: 20%;

	.recipe_name {
		float: none;
	}

	.checkbox {
		float: none;
	}
}
