/**
 * Tables partial contains all table styles.
 */

/* Application's table. */
.app-table {
  overflow-y: auto;

  .table {
    margin: 0;
    table-layout: fixed; // don't allow td expansion

    .app-table-tr {
      cursor: pointer;
      color: white;
      background-color: $app-purple-background;
      opacity: 0.9;

      td {
        padding: 10px 15px;
        font-size: 16px;
      }

      .expand-icon {
        vertical-align: middle; // center expand icon
      }

      .expand-td {
        width: 10% !important;
      }

      .app-table-title {        
        width: 90% !important;
        vertical-align: middle;
        font-weight: bold;
        @include abbreviate-text();
      }

      .app-table-details {
        display: none;

        td {
          background-color: white;
        }
      }
    }
  }
}

/* Recipe table. */
.recipe-table-container {
  @extend .app-table;
  // custom max-height. It displays one recipe at the time
  max-height: 517px;

  .app-checkbox label {
    @include abbreviate-text();
  }
}

/* Food table. */
.food-table-container {
  @extend .app-table;
  // custom height. It displays 5 categories
  @include calc(height, '43px * 5');
}

/* Recipe box. */
.recipe-box {
  width: 1023px; // custom width
  padding: 20px;
  position: relative;
  @include box-shadow(0px 2px 11px 2px $app-border);
  color: $app-font;
  background-color: $recipe-box-background;
  
  h1 {
    margin: 0px 0px 10px 0px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
  }

  .rec-ingredients {
    width: 862px; // stops before the edit button
    @include calc(height, '21px * 4');
    margin-bottom: 20px;
    padding: 0;
    // custom height. It displays 4 ingredients   
    overflow-y: auto;
    font-size: 15px;
    letter-spacing: 3px;
    list-style: none;

    li {
      display: block;
    }
  }

  /* To have highlighted in green. */
  .ingredient-to-have {
    color: white;
    background-color: green;
  }

  /* To avoid highlighted in red. */
  .ingredient-to-avoid {
    color: white;
    background-color: red;
  }

  /* Ingredients textarea. */
  textarea {
    width: 862px;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    resize: none;
    overflow-y: auto;
    font-size: 15px;
    @include box-shadow(none);
    color: $app-font;
    background-color: transparent; 
  }

  textarea[readonly] {
    border: none;
    @include box-shadow(none);
    background-color: transparent;
  }

  /* Ingredients div. */
  div {
    height: auto;
    min-height: 10px;
    margin-bottom: 20px;
    padding: 0;
    border: none;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    @include box-shadow(none);
    background-color: $recipe-box-background;    
  }
}

/* Meal plan table. */
.generate-table-container {
  .table {
    margin: 0;
    border: 2px solid $app-border;
    background-color: white;    

    td, th {
      padding: 10px;
      @include abbreviate-text();
    }

    .generate-table-section {
      color: white;
      background-color: $app-purple-background;
      
      td {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .recipe-list, .foods-list {
      margin: 0;
    }
  }
}

/* Meal plan comments-area. */
.comments-area {
  margin: 0;

  textarea {
    resize: none;
  }
}