/* recipe table */
.app-table {
	margin-top: 15px;
	overflow-y: auto;

	.table {
		margin: 0;

		.app-table-tr {
			background-color: $panel-heading-background;
			color: white;
			opacity: 0.9;

			&:hover {
				opacity: 1;
			}

			td {
				font-size: 16px;
				padding: 10px 15px;
			}

			.expand-icon {
				cursor: pointer;
				vertical-align: middle;
			}

			.expand-td {
				width: 12% !important;
			}

			.app-table-title {
				font-weight: bold;
				max-width: 800px;
			}

			.app-table-details {
				display: none;

				td {
					background-color: white;
				}
			}
		}
	}
}

.table-selected-tr {
	opacity: 1;
}

.recipe-table-container {
  @extend .app-table;
  max-height: 517px;

	.check-app {
		label {
			font-weight: bold;
			@include abbreviate-text();
			vertical-align: middle;
		}
	}
}

.food-table-container {
	@extend .app-table;
	@include calc(height, '43px * 5');

	.app-table-title {
		font-weight: bold;
		@include abbreviate-text();
		vertical-align: middle;
	}

	.app-table-details {
		max-height: 440px;
	}
}

.recipe-box {
	@include box-shadow(0px 2px 11px 2px rgba(209,209,209,0.49));
	padding: 20px;
	background-color: $recipe-box-background;
	width: 1023px;
	max-height: 458px;
	position: relative;
	
	color: #333;

	h1 {
		font-family: 'Oleo Script', cursive;
      font-size: 20px;
      margin: 0px 0px 10px 0px;
    }

    textarea {
    	resize: none;
  		border: none;
  		@include box-shadow(none);
		  background-color: transparent;
		  font-size: 15px;
		  overflow-y: auto;
		  padding: 0;
		  color: #333;
		  pointer-events: none;
    	margin-bottom: 20px;
    	width: 862px;
    }
}

/* meal plan table */
.generate-table-container {
	.table {
		margin: 0;
		background-color: white;
		//width: 900px;
		border: 2px solid rgba(209,209,209,0.50);

		td, th {
			padding: 10px;
			@include abbreviate-text();
		}

		.generate-table-section {
			background-color: $panel-heading-background;
			color: white;
			td {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 16px;
			}
		}

		.recipe-list {
			margin: 0;
			width: 335px;
		}

		.foods-list {
			margin: 0;
			width: 514px;
		}
	}
}

.comments-area {
	margin: 0;

	textarea {
		resize: none;
	}
}