@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Quicksand:300,400,700);
html {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.2em; }

#app-content {
  background-color: #e8e0b7;
  margin-top: 50px;
  min-height: 100vh; }

.page-container {
  padding: 50px; }

a:hover {
  text-decoration: none; }

/* highlight item */
.highlight-item {
  background-color: #e7ea25;
  font-weight: bold; }

li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

.app-input, .search-rec-input, .add-category-input {
  margin: 0;
  padding: 0;
  width: auto; }
  .app-input .form-control, .search-rec-input .form-control, .add-category-input .form-control {
    vertical-align: bottom;
    width: 264px;
    height: 40px;
    display: inline-block; }

.navbar-inverse {
  background-color: #009c7b;
  border: none;
  margin-bottom: 0;
  height: 50px; }
  .navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    font-size: 1.7em; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand focus {
      color: #e0e0e0; }

.dropdown-menu {
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 156, 123, 0.9);
  border: none;
  min-width: 130px;
  right: auto;
  padding: 0; }
  .dropdown-menu > li > a {
    color: white;
    padding: 12px; }
    .dropdown-menu > li > a:hover {
      color: #e0e0e0;
      background-color: #006953; }

.dropdown-toggle {
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  color: white; }

.navbar-toggle {
  border: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #e0e0e0; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #e0e0e0; }

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  padding: 12px; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #e0e0e0;
    background-color: #008367; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #006953; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #006953; }

footer {
  background-color: #6b4258;
  padding-top: 15px;
  height: 60px;
  text-align: center; }

.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  border: none; }

/* main page button */
.btn-main {
  background: none;
  font-size: 1.2em;
  min-width: 161px;
  height: 49px;
  padding: 10px;
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  border: 3px solid white; }
  .btn-main:hover {
    opacity: 0.8; }
  .btn-main:visited {
    color: white; }

/* default-button */
.btn-app {
  background-color: #009c7b;
  opacity: 0.5;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  color: white;
  padding: 10px; }
  .btn-app:hover {
    opacity: 1;
    color: white; }
  .btn-app:visited {
    color: white; }

.disabled {
  background-color: #9e1754;
  opacity: 1; }

.btn-app-disabled {
  background-color: #9e1754;
  cursor: not-allowed; }
  .btn-app-disabled:hover {
    opacity: 0.5; }

/* panel delete category button */
.btn-delete-cat {
  border: none;
  background-color: #6b4258;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  color: white; }
  .btn-delete-cat:hover {
    color: #e0e0e0; }
  .btn-delete-cat:visited {
    color: white; }

.btn-add-cat {
  position: absolute;
  width: 36px;
  height: 42px; }

.btn-edit-recipe, .btn-save-updated {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px; }

.check-app {
  margin: 0; }
  .check-app input {
    margin-left: -25px; }

.panel-app, .foods-panel {
  border: none;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }
  .panel-app .panel-heading, .foods-panel .panel-heading {
    height: 52px;
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #6b4258; }
  .panel-app .panel-body, .foods-panel .panel-body {
    height: 332px; }
  .panel-app .panel-title, .foods-panel .panel-title {
    padding-top: 7.5px;
    font-weight: bold;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.well-app, .have-avoid-well, .recipe-well {
  width: auto;
  margin: 0;
  border: none;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: white;
  padding: 15px; }

/* testing */
/* recipe table */
.recipe-table-container {
  margin-top: 15px;
  max-height: 522px;
  overflow-y: auto; }
  .recipe-table-container .table {
    margin: 0; }
    .recipe-table-container .table thead th {
      font-size: 16px;
      padding: 10px 15px;
      height: 44px; }
    .recipe-table-container .table tbody tr {
      background-color: #6b4258;
      color: white;
      opacity: 0.9; }
      .recipe-table-container .table tbody tr:hover {
        opacity: 1; }
      .recipe-table-container .table tbody tr td {
        font-size: 16px;
        padding: 10px 15px;
        max-height: 440px; }
        .recipe-table-container .table tbody tr td span {
          cursor: pointer; }
      .recipe-table-container .table tbody tr .check-app label {
        font-weight: bold; }

.detail-view {
  background-color: white; }

.title-recipe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.recipe-box {
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  padding: 20px;
  background-color: #ecf9d4;
  max-height: 458px;
  position: relative;
  color: #333; }
  .recipe-box h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    margin: 0px 0px 10px 0px; }
  .recipe-box p {
    font-size: 15px;
    margin-bottom: 20px;
    width: 984px; }

#rec-title, #rec-tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 882px; }

#rec-ingredients, #rec-directions {
  max-width: 882px;
  max-height: 84px;
  overflow-y: auto; }

#main-header {
  background-image: url("main_image.png");
  background-position: center center;
  background-size: cover;
  /* browser height - navbar height */
  min-height: -webkit-calc(100vh - 50px);
  min-height: -moz-calc(100vh - 50px);
  min-height: -ms-calc(100vh - 50px);
  min-height: calc(100vh - 50px); }
  #main-header .container {
    position: absolute;
    top: 40%;
    width: 100%; }
    #main-header .container h1 {
      font-family: 'Oleo Script', cursive;
      font-size: 5rem;
      color: white;
      font-weight: bold; }
    #main-header .container .scroll-link {
      margin-top: 100px; }

#main-content-container {
  width: 100%;
  padding: 50px; }

.main-thumbnail {
  border: none;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49); }
  .main-thumbnail h3 {
    font-size: 2em;
    font-family: 'Oleo Script', cursive;
    font-weight: bold; }
  .main-thumbnail p {
    height: 120px; }
  .main-thumbnail a {
    font-size: 1.2em; }

.img-box {
  background-color: rgba(107, 66, 88, 0.9);
  opacity: 1;
  position: relative; }
  .img-box .img-responsive {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .img-box:hover .img-responsive {
    opacity: 0.1; }
  .img-box:hover .btn-main-container a {
    display: block; }

.btn-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .btn-main-container a {
    display: block;
    margin-bottom: 15px;
    display: none; }

.stepwizard-step p {
  margin-top: 10px; }

.stepwizard-row {
  display: table-row; }

.stepwizard {
  display: table;
  width: 100%;
  position: relative; }

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0; }

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.list-arrows {
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto; }

.have-avoid-list {
  margin-top: 15px; }

.have-avoid-well {
  margin: 0 auto;
  width: 900px;
  max-height: 394px; }

.have-avoid-menu {
  padding-bottom: 15px;
  border-bottom: 2px groove rgba(209, 209, 209, 0.49); }

.food-table-container {
  overflow-y: auto;
  max-height: 292px;
  margin-top: 15px; }
  .food-table-container .table thead tr {
    background-color: #6b4258;
    opacity: 0.9;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 43px; }
    .food-table-container .table thead tr:hover {
      opacity: 1; }
    .food-table-container .table thead tr th {
      padding: 10px 15px;
      font-size: 16px; }
  .food-table-container .table tbody {
    border-collapse: separate; }
    .food-table-container .table tbody tr {
      display: none; }

.food-item {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#btn-cancel-search {
  margin-right: 8px; }

.have-avoid-panel-container {
  margin: 0 auto;
  position: relative; }
  .have-avoid-panel-container .dual-list {
    display: inline-block; }
  .have-avoid-panel-container .list-arrows {
    display: inline-block;
    margin: 0px 40px; }

.recipe-well {
  margin: 0 auto;
  width: 1084px;
  max-height: 629px; }

.recipe-well-menu {
  padding-bottom: 15px;
  border-bottom: 2px groove rgba(209, 209, 209, 0.49); }

#search_form {
  width: 376.25px;
  margin-right: 0; }

.search-rec-input .form-control {
  position: absolute; }

.detail-view {
  position: relative;
  height: 335px; }

.add-category-input {
  margin-bottom: 50px; }
  .add-category-input .form-control {
    height: 42px; }

/* foods panel */
.foods-panel {
  width: 300px;
  margin-bottom: 50px; }
  .foods-panel .panel-body {
    height: 332px; }
  .foods-panel .list-group {
    /* food item * 5 */
    height: -webkit-calc(42px * 5);
    height: -moz-calc(42px * 5);
    height: -ms-calc(42px * 5);
    height: calc(42px * 5);
    overflow-y: auto; }
    .foods-panel .list-group li {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.foods-panel-menu {
  padding-bottom: 15px;
  border-bottom: 2px groove rgba(209, 209, 209, 0.49); }

.add-food-input .form-control {
  height: 42px; }
.add-food-input .btn-plus-food {
  cursor: pointer; }
