/*
Syntax error: File to import not found or unreadable: pages/index.
              Load path: /home/fabeliflow/Documents/CS465/leap/app/assets/stylesheets
        on line 33 of main.scss

28:   'components/category_panel',
29:   'components/buttons';
30: 
31: // 6. Page-specific styles
32: @import
33:   'pages/index',
34:   'pages/search_new';
35: 
36: // 7. Themes
37: @import
38:   'themes/default';

Backtrace:
main.scss:33
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `call'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/home/fabeliflow/.rvm/gems/ruby-2.2.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/linux.rb:48:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: pages/index.\A               Load path: /home/fabeliflow/Documents/CS465/leap/app/assets/stylesheets\A         on line 33 of main.scss\A \A 28:   'components/category_panel',\A 29:   'components/buttons';\A 30: \A 31: // 6. Page-specific styles\A 32: @import\A 33:   'pages/index',\A 34:   'pages/search_new';\A 35: \A 36: // 7. Themes\A 37: @import\A 38:   'themes/default';"; }
