@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Quicksand:300,400,700);
html {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.2em; }

#app-content {
  background-color: #efece6;
  padding-top: 50px;
  min-height: 100vh; }

.page-container {
  padding-top: 50px; }

a:hover {
  text-decoration: none; }

/* highlight item */
.highlight-item {
  background-color: #e7ea25;
  font-weight: bold; }

li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

input {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

.navbar-inverse {
  background-color: #009c7b;
  border: none;
  margin-bottom: 0; }
  .navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    font-size: 1.7em; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand focus {
      color: #e0e0e0; }

.dropdown-menu {
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0, 156, 123, 0.9);
  border: none;
  min-width: 130px;
  right: auto;
  padding: 0; }
  .dropdown-menu > li > a {
    color: white;
    padding: 12px; }
    .dropdown-menu > li > a:hover {
      color: #e0e0e0;
      background-color: #006953; }

.dropdown-toggle {
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  color: white; }

.navbar-toggle {
  border: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #e0e0e0; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #e0e0e0; }

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  padding: 12px; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #e0e0e0;
    background-color: #008367; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #006953; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #006953; }

footer {
  background-color: #6b4258;
  padding-top: 15px;
  height: 60px;
  text-align: center; }

.foods-panel {
  width: 300px;
  border: none;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  margin-bottom: 50px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important; }
  .foods-panel .panel-heading {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #6b4258; }
  .foods-panel .panel-title {
    padding-top: 7.5px;
    font-weight: bold;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .foods-panel .list-group {
    /* food item * 5 */
    height: -webkit-calc(42px * 5);
    height: -moz-calc(42px * 5);
    height: -ms-calc(42px * 5);
    height: calc(42px * 5);
    overflow-y: auto; }
    .foods-panel .list-group li {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.delete-category-button {
  border: none;
  background-color: #6b4258;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s; }
  .delete-category-button:hover {
    background-color: #4b2f3e; }

.foods-panel-menu {
  padding-bottom: 15px;
  border-bottom: 2px groove rgba(209, 209, 209, 0.49); }
  .foods-panel-menu .add-button {
    margin-right: 10px; }

.add-food-input .form-control {
  height: 42px; }
.add-food-input .submit-button {
  cursor: pointer; }

.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  border: none; }

/* main page button */
.btn-main {
  background: none;
  font-size: 1.2em;
  padding: 10px;
  color: white;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  font-weight: bold;
  border: 3px solid white; }
  .btn-main:hover {
    opacity: 0.8; }
  .btn-main:visited {
    color: white; }

/* default-button */
.btn-app, .btn-plus-add {
  background-color: #9e1754;
  opacity: 0.5;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  color: white;
  padding: 10px; }
  .btn-app:hover, .btn-plus-add:hover {
    opacity: 1;
    color: white; }
  .btn-app:visited, .btn-plus-add:visited {
    color: white; }

/* add foods button */
.btn-plus-add {
  padding: 6px 12px 6px 12px; }

#main-header {
  background-image: url("main_image.png");
  background-position: center center;
  background-size: cover;
  /* browser height - navbar height */
  min-height: -webkit-calc(100vh - 50px);
  min-height: -moz-calc(100vh - 50px);
  min-height: -ms-calc(100vh - 50px);
  min-height: calc(100vh - 50px); }
  #main-header .container {
    position: absolute;
    top: 40%;
    width: 100%; }
    #main-header .container h1 {
      font-family: 'Oleo Script', cursive;
      font-size: 5rem;
      color: white;
      font-weight: bold; }
    #main-header .container .scroll-link {
      margin-top: 100px; }

#main-content-container {
  width: 100%;
  padding: 50px; }

.main-thumbnail {
  border: none;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  -ms-box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49);
  box-shadow: 0px 2px 11px 2px rgba(209, 209, 209, 0.49); }
  .main-thumbnail h3 {
    font-size: 2em;
    font-family: 'Oleo Script', cursive;
    font-weight: bold; }
  .main-thumbnail a {
    font-size: 1.2em; }

.img-box {
  background-color: rgba(107, 66, 88, 0.9);
  opacity: 1;
  position: relative; }
  .img-box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
  .img-box .img-responsive {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .img-box:hover .img-responsive {
    opacity: 0.1; }
  .img-box:hover a {
    display: block; }

.have-avoid-panel .list-group {
  /* food item * 5 */
  height: -webkit-calc(42px * 5);
  height: -moz-calc(42px * 5);
  height: -ms-calc(42px * 5);
  height: calc(42px * 5);
  overflow-y: scroll; }

.have-avoid-arrows {
  padding-top: 130px; }

.add-category-input {
  padding-top: 50px; }
  .add-category-input .form-control {
    vertical-align: bottom;
    width: 270px;
    height: 42px;
    display: inline-block; }
