<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 foods-div">
  <div class="foods-panel panel panel-primary">
    <div class="panel-heading clearfix">
      <%= add_form_element 'category', 'id',
        { type: 'hidden'},
        { value: cat.try(:id) } %>
      <h3 class="panel-title pull-left"><%= cat.name %></h3>
      <button class="pull-right btn btn-delete-cat" title="Delete category" type="button"><span class="glyphicon glyphicon-remove"/></button>
    </div>
    <div class="panel-body">
      <div class="foods-panel-menu">
        <button class="btn btn-app btn-add-food" type="button">Add <span class="glyphicon glyphicon-plus"/></button>
        <button class="btn btn-app btn-delete-food" type="button">Delete <span class="glyphicon glyphicon-trash"/></button>
      </div>
      <!-- Input field for adding new food item -->
      <div class="add-food-input form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="New Food Item">
          <a class="input-group-addon btn btn-app btn-plus-food popup-marker" data-toggle="popover" data-placement="top" data-content="Content"><span class="glyphicon glyphicon-plus popup-marker"></span></a>
        </div>
      </div>
      <ul class="list-group">
        <% cat.food_items.sorted.each do |foodItem| %>
          <li class="list-group-item">
            <%= foodItem.name %>
            <%= add_form_element 'food_item', 'id',
            { type: 'hidden'},
            { value: foodItem.try(:id) } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>