<script>

</script>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="foods-panel panel panel-primary">
    <div class="panel-heading clearfix">
      <%= add_form_element 'category', 'id',
        { type: 'hidden'},
        { value: cat.try(:id) } %>
      <h3 class="panel-title pull-left"><%= cat.name %></h3>
      <a class="pull-right btn btn-primary selector delete-category-button" title="delete all"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
    <div class="panel-body">
      <div class="foods-panel-menu">
        <a href="#" class="btn btn-app add-button">Add <span class="glyphicon glyphicon-plus"/></a>
        <a href="#" class="btn btn-app delete-button">Delete <span class="glyphicon glyphicon-trash"/></a>
      </div>
      <!-- Input field for adding new food item -->
      <div class="add-food-input form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="New Food Item">
          <span class="input-group-addon btn btn-plus-add submit-button info"><span class="glyphicon glyphicon-plus"></span></span>
        </div>
      </div>
      <ul class="list-group">
        <% cat.food_items.sorted.each do |foodItem| %>
          <%= add_form_element 'food_item', 'id',
            { type: 'hidden'},
            { value: foodItem.try(:id) } %>
          <li class="list-group-item">
            <%= foodItem.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>