<script type="text/javascript">
  //hide the add field until the add button is clicked
  $(function() {
    selectRow();
    $('.input-group').hide()
  })
  //this hides the panel if you click on the up button
  $(function () {
    $('.minimize-category-button').click(function () {
    	var body = $(this).parent().parent().find(".panel-body");
    	var buttons = body.find(".btn");
    	if(body.is(":visible")) {
    		buttons.toggle(0);
       		body.toggle(400);
    	}
    	else {
    		body.toggle(400, function() {
    			buttons.toggle(0);
    		});
    	}
      var icon = $(this).find(".glyphicon")
      if(icon.hasClass("glyphicon-chevron-up")){
        icon.addClass("glyphicon-chevron-down");
        icon.removeClass("glyphicon-chevron-up");
      } else {
        icon.addClass("glyphicon-chevron-up");
        icon.removeClass("glyphicon-chevron-down");      }
    });
  });

  //display add text field
  $(function () {
    $('.add-button').off().click(function() {
      var menu = $(this).parent();
      var body = menu.parent();
      var list = body.find(".list-group");
      var textField = body.find(".input-group");
      var textBox = textField.find(".form-control")
      

      if(!textField.is(":visible")){
        list.animate({height: 176}, 0, function() {
          textField.toggle(400);
          textBox.focus();
        });
      } else {
        textField.toggle(400, function () {
          list.animate({height: 210}, 0);
       });
      }});
    });

  //function to add food item if text field is filled out
  $(function () {
    $('.submit-button').off().click(function() {
      var group = $(this).parent();
      var body = group.parent().parent() 
      var list = group.parent().next()
      var categoryID = group.parent().parent().parent().find("#category_id").val()
      var textField = group.find(".form-control");
      var input = textField.val();
      if($.trim(input).length == 0) {
        //-----------------------------------TODO: flash error message-----------------------------------------------
      } else {
        var name = $.trim(input)
        console.log(categoryID) 
        var json = '{"name":"' + name + '", "category_id":"' + categoryID + '"}';
        var reloadPage = function() {
          location.reload();
        }    	
      	textField.val("");
      	textField.parent().toggle(400, function () {
      		list.animate({height: 210}, 0, function() {
            ajaxCall("/food_items/save_food_item_json", "POST", {food_item: json}, reloadPage)

          });
      	});
      
      	}

      });
    });
  
  // MODIFIED by fabs. Function to add a class to a row if it has been selected, and darken the row
  function selectRow() {
    $('body').on('click', '.list-group .list-group-item', function () {
      $(this).toggleClass('highlight-item');
    });
  }

  //function to delete all selected foods in specified container
  $(function() {
    $(".delete-button").off().click(function() {
      var list = $(this).parent().parent().find(".list-group")
      var selectedFoods = list.find(".list-group-item.selected");
      var selectedID = [];
      // gather the id of all selected items
      selectedFoods.each(function() {
        var id = $(this).closest('ul').find('#food_item_id').val();
        selectedID.push(id);
      });
      console.log(selectedID);
      ajaxCall("/food_items/delete_multiple_food_items", "POST", {food_item: selectedID});
      selectedFoods.fadeOut(400);
      });
    });



  //delete entire category when trash button is clicked
  $(function() {
    $(".delete-category-button").off().click(function() {
      var heading = $(this).parent();
      var panel = heading.parent()
      var categoryId = heading.find("#category_id").val();
      if(confirm("Are you sure you want to delete this Category?")){
        //ajaxCall("/categories/destroy", "POST", {id:categoryId});
        panel.hide("slow", function() {
        $(this).remove();
      });

      }
    })
  })

  //convert all selected items to editable textboxes when the edit button is selected
  $(function() {
    $(".edit-button").off().click(function() {
      var list = $(this).parent().parent().find(".list-group");
      var selectedFoods = list.find(".list-group-item.selected");   
      var button = $(this);
      var selectedID = [];
      var newNames = [];
      if($.trim(button.text()) == "Edit") {
        button.html("Update <span class='glyphicon glyphicon-edit'/>");
        //convert all selected foods to textboxes
        //selectedFoods.css("background-color", "white");
        selectedFoods.attr('contenteditable', 'true');
        selectedFoods.unbind();
      } else {
          selectedFoods.each(function() {
            newNames.push($.trim($(this).text()));
            var foodID = $(this).closest('ul').find('#food_item_id').val();
            selectedID.push(foodID);
          })
          console.log(selectedID);
          console.log(newNames);
          button.html("Edit <span class='glyphicon glyphicon-edit'/>");
          console.log(selectedID.length);
          newNames = newNames.join(",");
          if(selectedID.length > 0) {
            var reloadPage = function() {
              location.reload();
            }
            ajaxCall("/food_items/modify_multiple_food_items", "POST", {food_item: selectedID, names: newNames}, reloadPage);
          }
          selectedFoods.attr('contenteditable', 'false');
          selectedFoods.removeClass("selected");
          //selectedFoods.css("background-color", "white");
          selectRow();
      }});
  });

  //add a new category if textfield has text
$(function() {
    $('.add-category-button').click(function() {
      var textField = $(this).parent().find('.form-control');
      var input = textField.val();
      console.log(input);
      if($.trim(input).length == 0) {
        //-----------------------------------TODO: flash error message-----------------------------------------------
      } else {
        var name = $.trim(input)
        var reloadPage = function() {
          location.reload();
        }
        ajaxCall("/categories/save_category", "POST", {name: name}, reloadPage);
    }
  });
});

function ajaxCall(url, method, data, completeFunction){
  completeFunction = completeFunction || function() {};
  $.ajax({
        url: url,
        method: method,
        data: data,
        timeout: 5500,
        success: function() {
          console.log("success");
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log("an error has occured");
          console.log(textStatus);
          console.log(errorThrown);
        },
        complete: completeFunction
      });
}

 </script>

<div class="add-category-input container">
    <input type="text" class="form-control" name="validate-optional" id="validate-optional" placeholder="New Category">
    <a href="#" class="btn btn-app add-category-button"><span class="glyphicon glyphicon-plus"/></a>
</div>
<div class="page-container container">
	<div class="row">
	<% @categoryList.each do |category| %>
		<%= render partial: "category_panel", locals: {cat: category} %>
	<% end %>
	</div>
</div>