<h3 class="page-title">Add New Categories And Food Items</h3>
<div class="page-container container">
	<%= javascript_include_tag "category" %>
	
	<div class="add-category-input container">
		<input type="text" class="form-control" placeholder="New Category">
		<button class="btn btn-app btn-add-cat popup-marker" data-toggle="popover" data-placement="top" data-content="Content" type="button"><span class="glyphicon glyphicon-plus popup-marker"/></button>
	</div>
	<div class="row">
	<% @categoryList.each do |category| %>
		<%= render partial: "category_panel", locals: {cat: category} %>
	<% end %>
	</div>
</div>