<nav>
	<ul id="dropdown-container">
		<li id="home-logo"><%= link_to("Home", '/') %></li>
		<li class="dropdown-component"><a href="#">Foods</a>
            <ul>
				<li><%=  link_to "Manage", food_items_path(@food_items) %> 
			</ul>
		</li>
		<li class="dropdown-component"><a href="#">Recipes</a>
            <ul>
				<li><a href="#">Search New</a></li>
				<li><%= link_to "Manage", {:controller => 'recipes', :action => 'list'} %></li>
			</ul>
		</li>
		<li class="dropdown-component"><a href="#">Meal Plans</a>
            <ul>
				<li><a href="#">Generate</a></li>
				<li><a href="#">Manage</a></li>
			</ul>
		</li>
	</ul>
</nav>