<nav>
	<ul id="dropdown-container">
		<li id="home-logo"><a href="#">Home</a></li>
		<li class="dropdown-component"><a href="#">Foods</a>
            <ul>
				<li><a href="#">Manage</a></li>
			</ul>
		</li>
		<li class="dropdown-component"><a href="#">Recipes</a>
            <ul>
				<li><a href="#">Search New</a></li>
				<li><a href="#">Manage</a></li>
			</ul>
		</li>
		<li class="dropdown-component"><a href="#">Meal Plans</a>
            <ul>
				<li><a href="#">Generate</a></li>
				<li><a href="#">Manage</a></li>
			</ul>
		</li>
	</ul>
</nav>